.main_container {
  display: flex;
  margin-top: calc(121px - 40px - var(--margin-vertical));
  width: 100%;
  height: calc(100% - 121px);
  flex-direction: column;
  box-sizing: border-box;
 // overflow-y: auto;
  .reset_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 37px;
    span {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 21.94px;
      color: rgba(34, 34, 34, 1);
    }
    button {
      width: 95px;
      height: 30px;
      border-radius: 10px;
      border: 1px solid rgba(46, 229, 172, 1);
      background-color: rgba(46, 229, 172, 1);
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
    button:focus-visible {
      outline: 1px solid var(--focus-border-color);
    }
  }
}

